*{
    padding: 0%;
    margin: 0%;
   box-sizing: border-box;
   font-family: century;
}

body{
  padding: 0%;
  margin: 0%;
}

header{
    background-image: url(image/bleue.jpg);
    height: 100px;

    top: 22px;
    margin-top: 0px;
    background-size: cover;
    background-position: center;
}

.img2{
  width: 100%;
  height: 600px;
  margin-top: 40px;
  margin-left: 0;
}

.logo a{
    color: orange;
    text-decoration: none;
    margin: 10px 20px;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.7);
}

.logo span{
    color: rgb(248, 15, 15);
    font-weight: bold;
    font-size: 2rem;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}

ul li a:hover{
   /*  background: #fff; */
    color: orangered;
}

ul li.active a{
   /*  background: #fff; */
    color: orangered;
}

.principal{
    max-width: 114rem;
    margin: 0 auto;
}

.titre{
    position: absolute;
    top: 40%;
    left: 30%;
    translate: (-50%, -50%);
    color: #fff;
}

.titre h1{
    font-size: 50px;
    text-align: center;
}

.soustitre{
    position: absolute;
    top: 65%;
    left: 30%;
    translate: (-50%, -50%);
    color: #fff;
    text-align: center;
}

.learn{
  float: right;
  margin-top: 60px;
  margin-right: 200px;
  color: #fff;
  background-color: orangered;
  padding: 12px 12px 12px 12px;
  border-radius: 10px;
  font-size: 17px;
}

.learn:hover{
  background-color: transparent;
  color: orangered;
  border: solid orangered;
}

/* _________________________________________________ */

                /* about */

                .about{
                  margin-top: 600px;
              }

              .about2{
                margin-top: 500px;
              }

                .photo1{
                    z-index: 3;
                    border: 7px solid #fff;
                   /*  margin-left: -140px; */
                    height: 180px;
                   /*  position: fixed; */
                   position: absolute;
                   width: 200px;
                }
        
                .imgA{
                    margin-top: 100px;
                    height: 400px;
                    width: 400px;
                  /*   position: fixed; */
                  /* padding-left: 65px; */
                  margin-left: 65px;
                }

                .imgB{
                  margin-top: -500px;
                  margin-left: 400px;
                }
        
                .help{
                    float: right;
                    margin-right: 200px;
                    margin-top: -450px;
                    font-size: 35px;
                  /*   position: fixed; */
                }
        
                .label1{
                    float: right;
                    margin-right: 100px;
                    margin-top: -300px;
                   /*  border: 2px solid #000; */
                    background: #e7e6e6;
                    height: 120px;
                  /*   position: fixed; */
                    border-bottom: 6px solid rgb(230, 128, 4);
                    border-radius: 7px;
                    padding: 12px 12px 12px 12px;
                }
        
                .label2{
                    float: right;
                    margin-right: 60px;
                    margin-top: -150px;
                   /*  border: 2px solid #000; */
                    /* background: #e7e6e6;
                    height: 80px; */
                  /*   position: fixed; */
                }
        
                .btn button{
                    float: right;
                    margin-right: 60px;
                    margin-top: -30px;
                    padding-bottom: 6px;
                    padding-top: 6px;
                    padding-left: 6px;
                    padding-right: 6px;
                    border-radius: 10px;
                   /*  margin-bottom: 10px;
                    margin-left: 50px; */
                   /*  border: 2px solid #000; */
                    /* background: #e7e6e6;
                    height: 80px; */
                  /*   position: fixed; */;
                }

                .btn{
                  margin-right: 300px;
                }
        
                .btn1{
                 /*  margin-right: 500px; */
                  background-color: rgb(239, 113, 68)
                }
        
                .btn2{
                 /*  margin-right: 400px; */
                  border: 2px solid rgb(244, 116, 69)
                }

                p{
                  float: right;
                  margin-right: -40px;
                  color: orangered;
                  margin-top: -480px;
                  border-radius: 7px;
                  background-color:rgb(248, 216, 165);
                  padding: 4px 4px 4px 4px;
                }
        
                .h30{
                    float: right;
                    margin-right: 420px;
                    margin-top: -220px;
                    color: orangered;
                }

    /* _____________________________________________ */

                            /* cause */
                            .h{
                              padding-top: 60px;
                          }
                  
                          .cause{
                              color: orangered;
                              text-align: center;
                              margin-right: 50px;
                              margin-left: 500px;
                              background-color: rgb(240, 211, 216);
                              width: 180px;
                              font-size: 20px;
                              padding: 6px 6px 6px 6px;
                               border-radius: 10px;
                          }
                  
                          .child{
                             /*  margin-right: 50px; */
                              margin-left: 320px;
                              width: 500px;
                              margin-top: 50px;
                              font-size: 40px;
                              text-align: center;
                          }
                  
                          .u{
                              margin-top: 60px;
                              height: 400px;
                              width: 280px;
                              background-color: #fbf0f0;
                              margin-left: 80px;
                              text-align: center;
                              border-top: 5px solid orangered;
                              border-radius: 5px;
                          }
                  
                          .u1{
                              margin-top: -400px;
                              height: 400px;
                              width: 280px;
                              background-color: #fbf0f0;
                              margin-left: 425px;
                              text-align: center;
                              border-top: 5px solid orangered;
                              border-radius: 5px;
                          }
                  
                          .u2{
                              margin-top: -400px;
                              height: 400px;
                              width: 280px;
                              background-color: #fbf0f0;
                              margin-left: 770px;
                              text-align: center;
                              border-top: 5px solid orangered;
                              border-radius: 5px;
                          }
                  
                          span{
                              background-color: orangered;
                              padding: 5px 10px 10px 10px;
                              border-radius: 5px;
                              color: #fff
                          }
                  
                          .i{
                              width: 280px;
                              /* height: 200px; */
                              padding-top: 40px;
                          }
                  
                          .i1{
                              width: 280px;
                              /* height: 200px; */
                              padding-top: 40px;
                          }
                  
                          .i2{
                              width: 280px;
                              /* height: 200px; */
                              padding-top: 40px;
                          }
                  
                          
                  
                         /*  .o div{
                              height: 300px;
                              width: 200px;
                              background-color: #fbf0f0;
                          } */
                  
                          progress{
                              background-color: rgb(5, 68, 68);
                          }
                  
                          h4{
                            padding-top: 40px;
                          }

                          .te{
                            padding-top: 123px;
                          }

    /* ______________________________________________ */

                            /* what */
      
                            .w{
                              margin-left: 600px;
                              background-color: papayawhip;
                              color: orangered;
                              padding: 8px 8px 8px 8px;
                              border-radius: 14px;
                              
                          }
                  
                          .all{
                              margin-top: 100px;
                          }
                  
                          .lear{
                              margin-left: 100px;
                              text-align: center;
                              margin-top: 40px;
                             /*  width: 2000px; */
                             font-size: 45px;
                          }
                  
                          .d{
                              height: 400px;
                              margin-top: 80px;
                             /*  border: 2px solid black; */
                              width: 350px;
                              margin-left: 60px;
                              text-align: center;
                              background-color: #f3f1f1;
                          }
                  
                          .d1{
                              height: 400px;
                             /*  border: 2px solid black; */
                              width: 350px;
                              margin-left: 440px;
                              margin-top: -404px;
                              text-align: center;
                              background-color: #f3f1f1;
                          }
                  
                          .d2{
                              height: 400px;
                             /*  border: 2px solid black; */
                              width: 350px;
                              float: right;
                              margin-right: 50px;
                              margin-top: -404px;
                              text-align: center;
                              background-color: #f3f1f1;
                          }
                  
                          .im{
                              padding-top: 40px;
                          }
                  
                          .hh{
                              font-size: 30px;
                          }
                  
                          .ll{
                              color: #727171;
                              font-size: 18px;
                          }
                  
                          .bt{
                              margin-top: 40px;
                              padding: 10px 10px 10px 10px;
                              font-size: 16px;
                              border-radius: 10px;
                              border: 2px solid orangered;
                              color: orangered;
                          }
                  
                          .bt:hover{
                              background-color: orangered;
                              color: #fff;
                              transition: 1s;
                          }